/*Per la regola generale*/
body {
    font-family: Georgia, serif;
    color: #113867;
    font-size: 14px;

}

h6 {
    font-size: 12px;
}

/*bottoni alti*/
#top-menu {
    font-size: 14px;
}

/* Logo */
.figaro-logo {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: bolder;
    color: #113867;
    letter-spacing: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 4. Bottono giallo iscrizione */
.btn-subscribe {
    background-color: #fabc27;
    border: none;
    transition: background-color 0.2s ease-in-out;
    font-size: 12px;
}

.btn-subscribe .small {
    font-size: 10px;
}

/* x comportamento con mouse sopra ( o selezione tastiera) */
.btn-subscribe:hover,
.btn-subscribe:focus {
    background-color: #eca91b;
    outline: none;
}

/* Sempre per bottoni alti */
.nav-link-custom {
    color: #123456 !important;
}

/*notizie flash (destra)*/
.flash-feed-container {
    font-size: 14px;
}

.flash-time {
    min-width: 40px;
}

.flash-title {
    color: #dc3545;
    font-weight: bold;
    margin: 0;
}




.nav-item-text {
    font-weight: 600;
    font-size: 14px;
}

.article-title {
    color: #113867;
    font-size: 28px;
    font-weight: bold;
}

.section-title {
    color: #0d6efd;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}



.alert-label {
    font-size: 0.875em;
    color: #6c757d;
}

/*Forniscono altezza minima ai placeholder*/
.image-placeholder-main {
    height: 350px;
}

.image-placeholder-mid {
    height: 200px;
}

.image-placeholder-sub {
    height: 100px;
}

/*testi*/
.text-right-under {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.image-description-main {
    font-size: 10px;
    color: #113867;
    text-align: center;

}


.article-title-smaller {
    color: #113867;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}

/*box notizie preferite*/
.abbonati-box {
    font-size: 30px;
    border: 8px solid #83bcdf;
    padding: 20px;
}

p {
    font-size: 14px;
    line-height: 1.4;
}

#fine {
    background-color: rgb(42, 50, 114);
    color: white;
}




/* Classi per Placeholder suddivise per dimensione */

/* --- placeholder-355x195 --- */
/* Mobile (Default) */
.placeholder-355x195 {
    background-image: url('https://placehold.co/265x200.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-355x195 {
        background-image: url('https://placehold.co/265x200.png');
    }
}

/* Desktop */
@media (min-width: 1200px) {
    .placeholder-355x195 {
        background-image: url('https://placehold.co/400x300.png');
    }
}

/* --- placeholder-260x100 --- */
/* Mobile (Default) */
.placeholder-260x100 {
    background-image: url('https://placehold.co/260x100.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-260x100 {
        background-image: url('https://placehold.co/260x100.png');
    }
}

/* Desktop */
@media (min-width: 992px) {
    .placeholder-260x100 {
        background-image: url('https://placehold.co/260x100.png');
    }
}

/* --- placeholder-400x100 --- */
/* Mobile (Default) */
.placeholder-400x100 {
    background-image: url('https://placehold.co/190x100.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-400x100 {
        background-image: url('https://placehold.co/190x100.png');
    }
}

/* Desktop */
@media (min-width: 992px) {
    .placeholder-400x100 {
        background-image: url('https://placehold.co/190x100.png');
    }
}

/* --- placeholder-130x200 --- */
/* Mobile (Default) */
.placeholder-130x200 {
    background-image: url('https://placehold.co/97x150.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-130x200 {
        background-image: url('https://placehold.co/130x200.png');
    }
}

/* Desktop */
@media (min-width: 992px) {
    .placeholder-130x200 {
        background-image: url('https://placehold.co/130x200.png');
    }
}

/* --- placeholder-800x350 --- */
/* Mobile (Default) */
.placeholder-800x350 {
    background-image: url('https://placehold.co/550x350.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-800x350 {
        background-image: url('https://placehold.co/550x350.png');
    }
}

/* Desktop */
@media (min-width: 992px) {
    .placeholder-800x350 {
        background-image: url('https://placehold.co/825x525.png');
    }
}



/* --- placeholder-200x350 --- */
/* Mobile (Default) */
.placeholder-200x350 {
    background-image: url('https://placehold.co/200x350.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-200x350 {
        background-image: url('https://placehold.co/200x350.png');
    }
}

/* Desktop */
@media (min-width: 992px) {
    .placeholder-200x350 {
        background-image: url('https://placehold.co/200x350.png');
    }
}

/* --- placeholder-235x350 --- */
/* Mobile (Default) */
.placeholder-235x350 {
    background-image: url('https://placehold.co/235x350.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
    .placeholder-235x350 {
        background-image: url('https://placehold.co/235x350.png');
    }
}

/* Desktop */
@media (min-width: 992px) {
    .placeholder-235x350 {
        background-image: url('https://placehold.co/235x350.png');
    }
}

/* Aggiunto perchè manca la gestione dinamica del bordo dentro il bootstrap 5  */
@media (min-width: 992px) {
    .border-lg-end {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}